@import "bootstrap-sass/lib/bootstrap"

html, body
  margin: 20px

body
  background: #fafafa
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  color: #333

.btn-run
  +box-shadow(0 5px 15px rgba(0, 0, 0, 0.15), 0 5px 15px rgba(0, 0, 0, 0.05))
  +buttonBackground(lighten(red, 30%), red, white, 0 1px 1px rgba(255, 255, 255, 0.75))
  +border-radius(100px)
  text-transform: uppercase
  padding: 50px 30px
  font-size: 20px

#reels-container
  height: 400px
  margin-left: 70px
  -webkit-perspective: 3000
  -webkit-perspective-origin: 50% 255px

.stage
  -webkit-transition: -webkit-transform 2s
  -webkit-transform-style: preserve-3d

.wheel
  margin: 140px auto 0
  height: 100px
  -webkit-transform-style: preserve-3d
  &.wheel-0
    -webkit-animation: spin 2s cubic-bezier(0, 0.3, 0, 0.5)
  &.wheel-1
    -webkit-animation: spin 2.5s cubic-bezier(0, 0.6, 0, 0.6)
  &.wheel-2
    -webkit-animation: spin 3s cubic-bezier(0, 0.3, 0, 0.5)
  &.backfaces
    float: left
    width: 33.3%
    .tile
      -webkit-backface-visibility: visible

@-webkit-keyframes spin
  from
    -webkit-transform: rotateX(0)
  to
    -webkit-transform: rotateX(-360deg)

.tile
  position: absolute
  width: 200px
  height: 100px
  border: 1px solid white
  +border-radius(5px)
  -webkit-box-sizing: border-box
  padding: 70px 10px 0
  font-size: 14px
  font-weight: bold
  text-align: center
  opacity: 0.9
  background-color: #EAEAEA
  background-position: 50% 10%
  background-repeat: no-repeat
  background-size: 35%
  -webkit-backface-visibility: hidden

.coffee-maker,
.coffee-filter,
.coffee-grounds
  background-image: url('../images/coffee-flat.png')
  color: #6F4E37

.teapot,
.tea-strainer,
.loose-tea
  background-image: url('../images/tea-flat.png')
  color: #468847

.espresso-machine,
.espresso-tamper,
.ground-espresso-beans
  background-image: url('../images/espresso-flat.png')
  color: #333