<h1>Lazy Barista?</h1>

<div class="alert alert-block alert-success" ng-if="resultStatus === 1">
  You won!
</div>
<div class="alert alert-block" ng-if="resultStatus === 0">
  Drumming....
</div>
<div class="alert alert-block alert-error" ng-if="resultStatus === -1">
  You loose! You have to get up and make your drink by yourself!
</div>

<div id="reels-container">
  <div class="stage" ng-if="reelsValues">
    <div class="wheel backfaces" ng-repeat="reelValues in reelsValues track by $index" ng-class="'wheel-' + $index">
      <div class="tile"
          ng-repeat="reelValue in reelValues track by $index"
          ng-style="{'-webkit-transform': 'rotateX(' + $index * 360 / reelValues.length + 'deg) translateZ(160px)'}">
        {{reelValue}}
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <button class="btn btn-run" ng-click="generateReels()" ng-disabled="isButtonDisabled">Gimme a<br />drink!</button>
</div>
